body {
    background-color: rgb(72, 110, 128);
  }
  
  h1 {
    color: rgba(255, 255, 255, 0.685);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  
  .container{
    text-align: center;
    width: 100%;
  }
    
  
  input{
    text-align: center;
  }
  button{
    background-color: rgb(255, 255, 255);
    width:60px;
    height:20px;
  }
  .poluicao{
    background-color: aliceblue;
    margin-top:5px;
    margin-left: 44%;
    margin-right: 44%;
    text-align: center;
    width: 250px;
    height: 55px;
    border-width: 3px;
    border-radius: 5px;
    border-style:ridge;
  }
  .AURA{
    
    background-color: aliceblue;
    margin-top:5px;
    margin-left: 44%;
    margin-right: 44%;
    text-align: center;
    width: 250px;
    height: 55px;
    border-width: 3px;
    border-radius: 5px;
    border-style:ridge;

  }
  